<div class="ability flexrow flex-group-center gridl">
  <label for="system.abilities.{{key}}.value" class="{{switchAbilityLabelClass ability.type 'ability-label resource-label rollable flexlarge align-left'}}" data-roll="3d6-@abilities.{{key}}.mod" data-label="{{ability.label}}">{{ability.label}}</label>
  <input type="text" name="system.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
  <span class="ability-mod rollable" data-roll="3d6-@abilities.{{key}}.mod" data-label="{{ability.label}}">{{numberFormat ability.mod decimals=0 sign=true}}</span>
  <input class="notes" name="system.abilities.{{key}}.notes" type="text" value="{{ability.notes}}" placeholder="Notes"/>
</div>
