<div class="resources grid grid-3col">
  <div class="health-resource resource-container resource flex-group-center">
    <label for="system.health.value" class="resource-label">Health</label>
    <div class="resource-content flexrow flex-center flex-between">
    <input type="text" name="system.health.value" value="{{system.health.value}}" data-dtype="Number"/>
    <span> / </span>
    <input type="text" name="system.health.max" value="{{system.health.max}}" data-dtype="Number"/>
    </div>
  </div>

  <div class="aether-resource resource-container resource flex-group-center">
    <label for="system.aether.value" class="resource-label">Aether Pool</label>
    <div class="resource-content flexrow flex-center flex-between">
    <input type="text" name="system.aether.value" value="{{system.aether.value}}" data-dtype="Number"/>
    <span> / </span>
    <input type="text" name="system.aether.max" value="{{system.aether.max}}" data-dtype="Number"/>
    </div>
  </div>

  <div class="action-resource resource-container resource flex-group-center">
    <label for="system.action.value" class="resource-label">Action Points</label>
    <div class="resource-content flexrow flex-center flex-between">
    <input type="text" name="system.action.value" value="{{system.action.value}}" data-dtype="Number"/>
    <span> / </span>
    <input type="text" name="system.action.max" value="{{system.action.max}}" data-dtype="Number"/>
    </div>
  </div>
</div>