{{#with resource}}
<div class="{{className}}">
  
  <!-- Please see module/helpers/util.mjs for the full class name-->
  <label for="{{valuePath}}" class="resource-label">{{label}}</label>

  {{#if (isDefined max)}}
    <div class="resource-content flexrow flex-center flex-between">
      <input type="text" name="{{valuePath}}" value="{{value}}" data-dtype="{{type}}"/>
      <span> / </span>
      <input type="text" name="{{maxPath}}" value="{{max}}" data-dtype="{{type}}"/>
    </div>
  {{else}}
    <div class="resource-content flexrow flex-center flex-between">
      <input type="text" name="{{valuePath}}" value="{{value}}" data-dtype="{{type}}"/>
    </div>  
  {{/if}}
  
</div>
{{/with}}