<div class="ability flexrow flex-group-center gridl">
  <label for="system.abilities.{{key}}.value" class="flexlarge align-left" data-label="{{label}}">{{label}}</label>
  <input type="text" name="{{path}}" value="{{value}}" data-dtype="Number"/>
</div>
